<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New appointment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" type="text/css" media="all" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between align-items-center">
            <h1>Hola, {{user.first_name}} </h1>
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Log out</a>
        </header>
        {% with messages = get_flashed_messages(category_filter=['appointment']) %}
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/create/appointment" method="POST">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <div class="container">
                <div class="form-group">
                    <label>Fecha cita</label>
                    <input id="date" name="date" type="datetime-local"   class="form-control">
                </div>
            <div class="form-group">
                <label for="name">sede</label>
                <input type="text" id="site" name="site" class="form-control" placeholder="Sabaneta o Envigado">
            </div>
            <div class="form-group">
                <label for="name">Nombre de la mascota</label>
                <input type="text" id="pet_name" name="pet_name" class="form-control">
            </div>
            <div class="form-group">
                <label>Tipo de mascota</label>
                <select class="form-select" aria-label="Default select example" id="animal_type" name="animal_type">
                    <option value="" selected>Open this select menu</option>
                    <option value="p">Perro</option>
                    <option value="g">Gato</option>
                </select>
            </div>
            <!-- <div class="form-group">
                <label for="client_type_id">Tipo de cliente</label>
                <select class="form-select" aria-label="Default select example" name="client_type_id" id="client_type_id">
                    <option value ="" selected>Open this select menu</option>
                    {% for client_type in clients_types %}
                        <option value={{client_type.id}}>{{ client_type.description }}</option>
                    {% endfor %}
                </select>
            </div> -->
            <div class="form-group">
                <label for="service_type_id">Tipo de servicio</label> 
                <select class="form-select" aria-label="Default select example" name="service_type_id" id="service_type_id">
                    <option value ="" selected>Open this select menu</option>
                    {% for service in services %}
                        <option value={{service.id}}>{{service.service_type}} Para Tu mascota entre 0 - {{service.animal_weight}} Kg de peso y Tamaño entre 0 - {{service.animal_height}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <input type="submit" class="btn btn-success" value="Confirmar">
        </form>
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
</body>
</html>